<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendApp</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<a href="/articles">Go back</a>
<div class="User-friend-div">
  <h4>Your Friends</h4>
  <ul>
    {% for friend in friends %}
      <li>{{ friend.name }} {{ friend.surname }}</li>
    {% endfor %}
  </ul>
</div>

<div class="User-invite-div">
  <h4>Your Invites</h4>
  <ul>
    {% for invite in invites %}
      <li>
        {{ invite.name }} {{ invite.surname }}
      </li>
      <form method="post" action="/friends/{{ invite.friendId }}">
        <button class="accept-button" type="submit">Accept invite</button>
      </form>
    {% endfor %}
  </ul>
</div>
<div class="User-search-div">
  <h4>Search user</h4>
  <form method="post" action="/friends/invite">
    <label>Search:</label>
    <input type="text" name="search">
    <button class="accept-button" type="submit">Invite</button>
  </form>
  {% for search in searchResults %}
      <li class="User-search-li">
        {{ search.name }} {{ search.surname }}
      </li>
      <form method="post" action="/friends/{{ search.friendId }}">
        <button class="accept-button" type="submit">Invite</button>
      </form>
  {% endfor %}
</div>