<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendApp</title>
    <link rel="stylesheet" href="../../../style.css">
</head>

<h2>Create New Article</h2>
<a href="/articles">Go Back</a>
<ul>
{% for error in errors %}
    
        <li>
            {{ error[0] }}
        </li>

{% endfor %}
</ul>
<form method="post" action="/articles">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ inputs['title'] }}"/>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea type="description" name="description">{{ inputs['description'] }}</textarea>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
