<h3>All articles</h3>
<a href="/signup">Sign Up</a>

<div class="index-login-login">
    <h4>LOGIN</h4>
    <form action="includes/login.inc.php" method="post">
        <input type="text" name="uid" placeholder="Username">
        <input type="password" name="pwd" placeholder="Password">
        <br>
        <button type="submit" name="submit">LOGIN</button>
    </form>
</div>

<a href="/articles/create">Create New Article</a>
<ul>
  {% for article in articles %}

  <li>
    <a href="/articles/{{ article.id }}">
        {{ article.title }}
    </a>
    <form method="post" action="/articles/{{ article.id }}/delete">
      <button type="submit" onclick="return confirm('Are you sure?')">X</button>
    </form>
    <form method="post" action="/articles/{{ article.id }}/update">
    <button type="submit">Edit</button>
    </form>
  </li>

  {% endfor %}
</ul>
